*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

fieldset {
  border: none;
}

ul,
ol {
  list-style: none;
}

input:focus,
video:focus,
:focus {
  outline: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
  box-sizing: content-box;
  padding-right: 30px;
  padding-left: 30px;
  max-block-size: 100%;
  max-inline-size: 1140px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.result__video {
  object-fit: cover;
  cursor: pointer;
  inline-size: 100%;
  block-size: 100%;
}

.result__video-container {
  position: relative;
  min-inline-size: 711px;
  min-block-size: 386px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 5px;
  cursor: pointer;
}

.search-form__label:has(input:focus-visible):not(:active) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__label:has(input[type='checkbox']):hover {
  text-decoration: underline;
}

.search-form__fieldset-title {
  padding-bottom: 5px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.search-form__textfield {
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: rgb(255 255 255 / 0.7);
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  background-color: transparent;
  appearance: none;
  min-inline-size: 225px;
}

.search-form__textfield:active {
  outline: 1px solid #fff;
  outline-offset: -1px;
}

.search-form__label-text {
  display: block;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
  min-inline-size: 212px;
}

.search-form__pseudo-checkbox {
  display: inline-flex;
  outline: 1px solid #fff;
  min-block-size: 17px;
  min-inline-size: 17px;
}

.search-form__pseudo-checkbox:active {
  color: #fff;
}

input[type='checkbox']:checked + .search-form__pseudo-checkbox {
  outline: 1px solid #fff;
  outline-offset: 1px;
  background-color: #fff;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  min-height: max-content;
  border: 1px solid #fff;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
  min-block-size: 34px;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration-line: underline;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  min-inline-size: 194px;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  font-family: Oswald, sans-serif;
}

.title {
  display: block;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  block-size: 298px;
}

.content__list-item {
  display: block;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  max-block-size: inherit;
}

.content__video-card-description-container {
  inline-size: 200px;
  max-block-size: inherit;
}

.content__video-card-title {
  padding-bottom: 6px;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  line-height: 90%;
}

.content__card-link {
  display: block;
  margin: 2px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  max-block-size: 103px;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration-line: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card-thumbnail {
  object-fit: cover;
  inline-size: 194px;
  max-block-size: inherit;
}

.more-button {
  margin: 2px;
  inline-size: 99%;
}
