*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

fieldset {
  border: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

.title {
  font-family: Oswald;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content {
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 133px 30px 133px 30px;
  align-items: flex-end;
}

.content__video-card {
  margin: 2px;
  max-block-size: 101px;
  box-sizing: border-box;
}

.content__video-card:active {
  background-color: #545050;
}

.content__video-card:hover {
  text-decoration-line: underline;
}

.content__video-card:focus{
  outline: none;
}

.content__video-card:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 2px;
}

.content__video-card-thumbnail {
  max-block-size: inherit;
}

.content__video-card-description-container {
  min-inline-size: 200px;
}

.content__card-link {
  text-decoration: none;
  color: #FFF;
  cursor: pointer;
}

.content__video-card-title {
  font-family: Oswald;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  padding-bottom: 6px;
}

.content__video-card-description {
  font-family: Fira Sans Condensed;
  line-height: 90%;
}

.result__video-container {
  position: relative;
  min-inline-size: 711px;
  min-block-size: 386px;
  padding: 0 0 16px 0;
}

.search-form {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.search-form__label {
  cursor: pointer;
}

.search-form__label-text:hover {
  text-decoration: underline;
}

.search-form__label:focus{
  outline: none;
}

.search-form__label:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 2px;
}

.search-form__textfield {
  appearance: none;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.70);
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  font-weight: 400;
  border: none;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  min-inline-size: 225px;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
  gap: 5px;
}

.search-form__checkbox-list {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
}

.search-form__pseudo-checkbox {
  display: inline-flex;
  gap: 5px;
  min-block-size: 14px;
  min-inline-size: 14px;
  border: 1px solid #fff;
}

.search-form__pseudo-checkbox:active {
  color: #fff;
}

input[type='checkbox']:checked + .search-form__pseudo-checkbox {
  outline: 6px solid white;
  outline-offset: -10px;
}

.search-form__pseudo-checkbox:focus {
  border-radius: 0%;
}

.button {
  background-color: transparent;
  display: flex;
  min-height: max-content;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid #fff;
  color: #FFF;
  text-align: center;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  min-block-size: 34px;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration-line: underline;
}

.button:focus {
  border: 1px solid #FFF;
  border-radius: 0%;
}

.search-form__submit-button {
  min-inline-size: 194px;
}

.more-button {
  min-inline-size: 100%;
}

.content__list {
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  gap: 26px;
  display: flex;
  flex-direction: column;
}

.content__details {
  flex-direction: column;
  display: flex;
  gap: 30px;
  min-inline-size: 399px;
  max-block-size: 534px;
}

.result__video {
  inline-size: 100%;
  cursor: pointer;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}